---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/downloads/status/5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"7bd237148bfb8201877d98e68fd193f9"
    body:
      encoding: UTF-8
      string: '[{"id":713,"user_id":2,"file_ids":[],"folder_ids":[32277,32339],"status":"done","created_at":"2016-12-01T14:55:52.640-08:00"},{"id":712,"user_id":2,"file_ids":[],"folder_ids":[32277,32339],"status":"done","created_at":"2016-12-01T14:53:51.961-08:00"},{"id":711,"user_id":2,"file_ids":[],"folder_ids":[32277],"status":"done","created_at":"2016-12-01T14:51:19.454-08:00"},{"id":705,"user_id":2,"file_ids":[],"folder_ids":[32339],"status":"done","created_at":"2016-11-30T14:25:47.011-08:00"},{"id":704,"user_id":2,"file_ids":[],"folder_ids":[32277],"status":"done","created_at":"2016-11-30T14:00:03.002-08:00"},{"id":703,"user_id":2,"file_ids":[],"folder_ids":[32339],"status":"done","created_at":"2016-11-30T13:59:58.009-08:00"},{"id":702,"user_id":2,"file_ids":[],"folder_ids":[32277],"status":"done","created_at":"2016-11-30T13:48:31.332-08:00"},{"id":701,"user_id":2,"file_ids":[],"folder_ids":[32277],"status":"done","created_at":"2016-11-30T13:45:55.893-08:00"},{"id":700,"user_id":2,"file_ids":[],"folder_ids":[32277],"status":"done","created_at":"2016-11-30T13:42:56.344-08:00"}]'
  recorded_at: Fri, 02 Dec 2016 00:12:32 GMT
recorded_with: VCR 3.0.3
