---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/downloads/status/5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"04cd1d2f2e7d3d096918c3ce6badc053"
    body:
      encoding: UTF-8
      string: '[{"id":731,"user_id":2,"file_ids":[],"folder_ids":[32277,32339],"status":"done","created_at":"2016-12-12T17:33:11.809-08:00"},{"id":719,"user_id":2,"file_ids":["37638"],"folder_ids":["36884"],"status":"done","created_at":"2016-12-08T10:35:48.969-08:00"},{"id":718,"user_id":2,"file_ids":["38188","38189"],"folder_ids":[],"status":"done","created_at":"2016-12-07T14:56:21.163-08:00"},{"id":717,"user_id":2,"file_ids":["38187","38188"],"folder_ids":[],"status":"done","created_at":"2016-12-07T12:19:38.320-08:00"},{"id":714,"user_id":2,"file_ids":["45906","37638"],"folder_ids":[],"status":"done","created_at":"2016-12-01T16:51:15.360-08:00"},{"id":712,"user_id":2,"file_ids":[],"folder_ids":[32277,32339],"status":"done","created_at":"2016-12-01T14:53:51.961-08:00"},{"id":711,"user_id":2,"file_ids":[],"folder_ids":[32277],"status":"done","created_at":"2016-12-01T14:51:19.454-08:00"}]'
  recorded_at: Wed, 14 Dec 2016 22:15:55 GMT
recorded_with: VCR 3.0.3
