---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/downloads
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"download":{"folder_ids":[32277,32339]}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"c4f110a537e4d181c20f49485faf66d6"
    body:
      encoding: UTF-8
      string: '{"id":713,"user_id":2,"file_ids":[],"folder_ids":[32277,32339],"status":"building_directory","created_at":"2016-12-01T14:55:52.640-08:00"}'
  recorded_at: Thu, 01 Dec 2016 22:55:46 GMT
recorded_with: VCR 3.0.3
