---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/downloads
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"download":{"folder_ids":[32277,32339]}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"8e4eca243c7fc1b99dad7008997bfd97"
    body:
      encoding: UTF-8
      string: '{"id":731,"user_id":2,"file_ids":[],"folder_ids":[32277,32339],"status":"building_directory","created_at":"2016-12-12T17:33:11.809-08:00"}'
  recorded_at: Tue, 13 Dec 2016 01:33:30 GMT
recorded_with: VCR 3.0.3
