---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/downloads?download%5Bfolder_ids%5D=32339&workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"453bbc8f3ddca4f4f83b88a84d3d77b4"
    body:
      encoding: UTF-8
      string: '{"id":705,"user_id":2,"file_ids":[],"folder_ids":[32339],"status":"building_directory","created_at":"2016-11-30T14:25:47.011-08:00"}'
  recorded_at: Wed, 30 Nov 2016 22:25:54 GMT
recorded_with: VCR 3.0.3
