---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/folders/37109/copy
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"destination_folder_id":37106}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"94828495e76547607546cd159a9e783c"
    body:
      encoding: UTF-8
      string: '{"id":37111,"name":"copy_me_1","path":null,"owner_type":"Workspace","owner_id":5886,"created_at":"2016-12-01T18:35:04.984-08:00","updated_at":"2016-12-01T18:35:04.984-08:00","index":1,"last_updated_user_id":null,"parent_path":"/","parent_id":37106,"id_tree":"37106.37111"}'
  recorded_at: Fri, 02 Dec 2016 02:35:05 GMT
recorded_with: VCR 3.0.3
