---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/folders
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"name":"spec_folder","parent_id":32277}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"d4f6c3c538bcb05ddf845a1d7a058dfd"
    body:
      encoding: UTF-8
      string: '{"id":37108,"name":"spec_folder","path":null,"owner_type":"Workspace","owner_id":5886,"created_at":"2016-12-01T17:30:20.364-08:00","updated_at":"2016-12-01T17:30:20.364-08:00","index":2,"last_updated_user_id":2,"parent_path":"/","parent_id":32277,"id_tree":"32277.37108"}'
  recorded_at: Fri, 02 Dec 2016 01:30:29 GMT
recorded_with: VCR 3.0.3
