---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/folders/32339?workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"dcb928c86cba911f94b6a8d27c456ace"
    body:
      encoding: UTF-8
      string: '{"folder":{"id":32339,"name":"Folder 2","path":null,"owner_type":"Workspace","owner_id":5886,"created_at":"2016-11-15T09:57:51.212-08:00","updated_at":"2016-12-01T15:10:09.127-08:00","index":2,"last_updated_user_id":99,"parent_path":"/","parent_id":0,"id_tree":"32339"},"immediate_subfolders":[{"id":36885,"name":"New
        folder","path":null,"owner_type":"Workspace","owner_id":5886,"created_at":"2016-11-23T22:17:42.817-08:00","updated_at":"2016-12-01T15:10:09.127-08:00","index":1,"last_updated_user_id":2,"parent_path":"/","parent_id":32339,"id_tree":"32339.36885"}],"immediate_subfiles":[{"id":38187,"title":"pg_0306.pdf","file_name":"pg_0306.pdf","file_size":"106396","file_content_type":"application/pdf","index":1,"created_at":"2016-11-15T09:59:01.638-08:00","updated_at":"2016-11-15T09:59:01.638-08:00"},{"id":38188,"title":"pg_0307.pdf","file_name":"pg_0307.pdf","file_size":"60939","file_content_type":"application/pdf","index":2,"created_at":"2016-11-15T09:59:02.460-08:00","updated_at":"2016-11-15T09:59:02.460-08:00"},{"id":38189,"title":"pg_0308.pdf","file_name":"pg_0308.pdf","file_size":"75480","file_content_type":"application/pdf","index":3,"created_at":"2016-11-15T09:59:02.825-08:00","updated_at":"2016-11-15T09:59:02.825-08:00"},{"id":45903,"title":"gem
        update 2.pdf","file_name":"pg_0307.pdf","file_size":"60939","file_content_type":"application/pdf","index":4,"created_at":"2016-11-23T14:30:35.603-08:00","updated_at":"2016-11-23T14:30:35.603-08:00"}]}'
  recorded_at: Fri, 02 Dec 2016 01:41:30 GMT
recorded_with: VCR 3.0.3
