---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/folders/37110/move
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"destination_folder_id":37107}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"15525cbd92dab54a80e43a2200514450"
    body:
      encoding: UTF-8
      string: '{"id":37110,"name":"Move_me_1","path":null,"owner_type":"Workspace","owner_id":5886,"created_at":"2016-12-01T18:32:14.684-08:00","updated_at":"2016-12-01T18:36:28.126-08:00","index":1,"last_updated_user_id":2,"parent_path":"/","parent_id":37107,"id_tree":"37107.37110"}'
  recorded_at: Fri, 02 Dec 2016 02:36:21 GMT
recorded_with: VCR 3.0.3
