---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/folders/32339
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"folder":{"name":"spec update","index":1}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"d3f64c7f629533460c57854cedc9342d"
    body:
      encoding: UTF-8
      string: '{"id":32339,"name":"spec update","path":null,"owner_type":"Workspace","owner_id":5886,"created_at":"2016-11-15T09:57:51.212-08:00","updated_at":"2016-12-01T18:24:47.242-08:00","index":1,"last_updated_user_id":99,"parent_path":"/","parent_id":0,"id_tree":"32339"}'
  recorded_at: Fri, 02 Dec 2016 02:24:40 GMT
recorded_with: VCR 3.0.3
