---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/organizations/4639/memberships
    body:
      encoding: UTF-8
      string: '{"user_id":101}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"ac472c9f293c05ad9f5a870c6d033bde"
    body:
      encoding: UTF-8
      string: '{"id":118,"organization_id":4639,"user_id":101,"created_at":"2016-12-02T17:21:32.750-08:00"}'
  recorded_at: Sat, 03 Dec 2016 01:21:25 GMT
recorded_with: VCR 3.0.3
