---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/organizations/4639
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"629aeb4c7c75501f81f414b23794de10"
    body:
      encoding: UTF-8
      string: '{"id":4639,"name":"Jazz_org","description":"","location":"","billing_email":"","url":null,"support_number":"(888)
        799-6849","support_email":"support@caplinked.com","support_website":"http://support.caplinked.com","created_at":"2016-11-10T15:57:28.736-08:00","updated_at":"2016-11-10T15:57:28.736-08:00"}'
  recorded_at: Sat, 03 Dec 2016 00:29:24 GMT
recorded_with: VCR 3.0.3
