---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/organizations/4639/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"b9ac2ea78dc13972c745554a7819e238"
    body:
      encoding: UTF-8
      string: '[{"id":92,"first_name":"Jazz_org","last_name":"Admin","email":"api+jazz_org@caplinked.com","time_zone":"Pacific
        Time (US \u0026 Canada)","jti":null}]'
  recorded_at: Sat, 03 Dec 2016 01:26:12 GMT
recorded_with: VCR 3.0.3
