---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/organizations/4639/support_information
    body:
      encoding: UTF-8
      string: '{"phone_number":"88374","email":"jazz@update.com","website":"www.jazzbilling.com"}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"b7b7797bb19e3ea0037522b88cbfc988"
    body:
      encoding: UTF-8
      string: '{"id":4904,"support_number":"88374","support_email":"jazz@update.com","support_website":"www.jazzbilling.com","created_at":"2016-12-02T17:02:40.866-08:00","updated_at":"2016-12-02T17:02:40.866-08:00"}'
  recorded_at: Sat, 03 Dec 2016 01:15:51 GMT
recorded_with: VCR 3.0.3
