---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/organizations/4639
    body:
      encoding: UTF-8
      string: '{"name":"jazz update","description":"jazz org","location":"Los Angeles","billing_email":"jazz@billing.com","url":"www.jazzbilling.com"}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"d61b9ed99b85077d060df5212bfcad27"
    body:
      encoding: UTF-8
      string: '{"id":4639,"name":"jazz update","description":"jazz org","location":"Los
        Angeles","billing_email":"jazz@billing.com","url":"www.jazzbilling.com","support_number":"(888)
        799-6849","support_email":"support@caplinked.com","support_website":"http://support.caplinked.com","created_at":"2016-11-10T15:57:28.736-08:00","updated_at":"2016-12-02T16:55:04.885-08:00"}'
  recorded_at: Sat, 03 Dec 2016 00:55:14 GMT
recorded_with: VCR 3.0.3
