---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/teams/183/memberships
    body:
      encoding: UTF-8
      string: '{"user_id":101}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"de1694100505f0a6ecb57ca9ad04b5fa"
    body:
      encoding: UTF-8
      string: '{"user":{"id":101,"first_name":"John","last_name":"Smith","email":"john_smith@example.com","time_zone":"Pacific
        Time (US \u0026 Canada)","jti":null},"created_at":"2016-12-05T10:42:24.744-08:00","updated_at":"2016-12-05T10:42:24.838-08:00"}'
  recorded_at: Mon, 05 Dec 2016 18:42:15 GMT
recorded_with: VCR 3.0.3
