---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/teams
    body:
      encoding: UTF-8
      string: '{"team":{"name":"api_team","allowed_workspaces":5,"allowed_admins":5,"drm_enabled":false,"watermarking":true,"suppress_emails":true}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"406067ef208ce38b7e73d3b6fe6aa783"
    body:
      encoding: UTF-8
      string: '{"id":183,"name":"api_team","team_owner_id":92,"creator_id":92,"allowed_workspaces":5,"allowed_admins":5,"drm_enabled":false,"watermarking":true,"suppress_emails":true}'
  recorded_at: Mon, 05 Dec 2016 18:15:34 GMT
recorded_with: VCR 3.0.3
