---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/teams/183/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"215206de2e6a455aaf401069f66d3d21"
    body:
      encoding: UTF-8
      string: '[{"user":{"id":92,"first_name":"Jazz_org","last_name":"Admin","email":"api+jazz_org@caplinked.com","time_zone":"Pacific
        Time (US \u0026 Canada)","jti":null},"created_at":"2016-12-05T10:15:21.740-08:00","updated_at":"2016-12-05T10:15:21.817-08:00"}]'
  recorded_at: Mon, 05 Dec 2016 18:47:33 GMT
recorded_with: VCR 3.0.3
