---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/teams/183
    body:
      encoding: UTF-8
      string: '{"team":{"name":"api_team_again","allowed_workspaces":10,"allowed_admins":10,"drm_enabled":false,"watermarking":true,"suppress_emails":true}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"39779f931afd100569ade40426b70761"
    body:
      encoding: UTF-8
      string: '{"id":183,"name":"api_team_x4","team_owner_id":92,"creator_id":92,"allowed_workspaces":10,"allowed_admins":10,"drm_enabled":false,"watermarking":true,"suppress_emails":true}'
  recorded_at: Mon, 05 Dec 2016 18:34:35 GMT
recorded_with: VCR 3.0.3
