---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/files/45906/copy?destination_folder_id=32339&workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a2d1df5edeaf62c7350918b7ca0c098c"
    body:
      encoding: UTF-8
      string: '{"id":38187,"title":"pg_0306.pdf","file_name":"pg_0306.pdf","file_size":"106396","file_content_type":"application/pdf","index":1,"created_at":"2016-11-15T09:59:01.638-08:00","updated_at":"2016-11-15T09:59:01.638-08:00"}'
  recorded_at: Thu, 24 Nov 2016 06:12:01 GMT
recorded_with: VCR 3.0.3
