---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/files/38187/copy
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"destination_folder_id":37109}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"3831363ab3e2650e974bc0383ef07397"
    body:
      encoding: UTF-8
      string: '{"id":46515,"title":"pg_0306.pdf","file_name":"pg_0306.pdf","file_size":"106396","file_content_type":"application/pdf","index":1,"created_at":"2016-12-05T13:42:58.230-08:00","updated_at":"2016-12-05T13:42:58.230-08:00"}'
  recorded_at: Mon, 05 Dec 2016 21:42:58 GMT
recorded_with: VCR 3.0.3
