---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/files/37639?workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"f132a9f1e77b7348ba4a4967483b6d15"
    body:
      encoding: UTF-8
      string: '{"id":37639,"title":"gem update 2.pdf","file_name":"pg_0307.pdf","file_content_type":"application/pdf","file_size":"60939","index":1,"folder_id":36884,"pages":1,"version":1,"infected":null,"viewer":{"status":"Ready","page_number":1,"expiring_tokens":{"thumbnail":"removed","normal":"removed"}},"created_at":"2016-11-10T15:49:17.770-08:00","updated_at":"2016-11-23T14:31:19.641-08:00"}'
  recorded_at: Thu, 24 Nov 2016 06:00:51 GMT
recorded_with: VCR 3.0.3
