---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/files/37639/viewer?expiring_token=314851986d9fbd36f1b46a0d9e44d773bd4054d2&workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"code":500,"message":"Internal Server Error"}}'
  recorded_at: Tue, 13 Dec 2016 01:40:00 GMT
recorded_with: VCR 3.0.3
