---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/files/38187?workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"2c3e6ea21c810a0cac542759eaff5355"
    body:
      encoding: UTF-8
      string: '{"id":38187,"title":"pg_0306.pdf","file_name":"pg_0306.pdf","file_content_type":"application/pdf","file_size":"106396","index":1,"folder_id":32339,"pages":1,"version":1,"infected":null,"viewer_image":{"status":"Ready","page_number":1,"expiring_url":"expiring_url","expiring_thumbnail_url":"expiring_url"},"created_at":"2016-11-15T09:59:01.638-08:00","updated_at":"2016-11-15T09:59:01.638-08:00"}'
  recorded_at: Tue, 13 Dec 2016 01:38:43 GMT
recorded_with: VCR 3.0.3
