---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/files/45907/move
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"destination_folder_id":37106}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"e10e510e3f32045c4f6c60f8180f1c6f"
    body:
      encoding: UTF-8
      string: '{"id":45907,"title":"api_update.pdf","file_name":"pg_0317.pdf","file_size":"155766","file_content_type":"application/pdf","index":1,"created_at":"2016-11-23T22:12:01.481-08:00","updated_at":"2016-12-01T15:10:09.140-08:00"}'
  recorded_at: Thu, 01 Dec 2016 23:10:17 GMT
recorded_with: VCR 3.0.3
