---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/files/45907/move?destination_folder_id=36885&workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"936151fa8f79def1436c1c530183cc6a"
    body:
      encoding: UTF-8
      string: '{"id":45907,"title":"api_update.pdf","file_name":"pg_0317.pdf","file_size":"155766","file_content_type":"application/pdf","index":1,"created_at":"2016-11-23T22:12:01.481-08:00","updated_at":"2016-11-23T22:23:45.516-08:00"}'
  recorded_at: Thu, 24 Nov 2016 06:23:47 GMT
recorded_with: VCR 3.0.3
