---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/files/45906?file%5Bindex%5D=1&file%5Btitle%5D=api_update&workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"90d31c65f8ef69e160232f05ae6e082d"
    body:
      encoding: UTF-8
      string: '{"id":45906,"title":"api_update.pdf","file_name":"pg_0317.pdf","file_content_type":"application/pdf","file_size":"155766","index":1,"folder_id":32277,"pages":1,"version":3,"infected":false,"viewer":{"status":"Ready","page_number":null,"expiring_tokens":{"thumbnail":"04ea670ef5ffc019291b260721eee7ff7dfae197","normal":"47e6f85ef0be39274827250c8ce436c9a83914f1"}},"created_at":"2016-11-23T21:51:57.304-08:00","updated_at":"2016-11-23T22:08:01.278-08:00"}'
  recorded_at: Thu, 24 Nov 2016 06:08:02 GMT
recorded_with: VCR 3.0.3
