---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/files/45906
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"file":{"title":"api_update","index":1}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"59e1ab2fd456c7751f24faf73aca8be6"
    body:
      encoding: UTF-8
      string: '{"id":45906,"title":"api_update.pdf","file_name":"pg_0317.pdf","file_content_type":"application/pdf","file_size":"155766","index":1,"folder_id":32277,"pages":1,"version":3,"infected":false,"viewer":{"status":"Ready","page_number":null,"expiring_tokens":{"thumbnail":"aa92e74aa67975fa74c9e8da690e702a13d8a570","normal":"f510d48b5f75becb2ed7635f7a8efae77565e7a3"}},"created_at":"2016-11-23T21:51:57.304-08:00","updated_at":"2016-11-23T22:08:01.278-08:00"}'
  recorded_at: Fri, 02 Dec 2016 02:44:18 GMT
recorded_with: VCR 3.0.3
