---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/files/upload?file_name=pg_0317.pdf&folder_id=32277&workspace_id=5886
    body:
      encoding: ASCII-8BIT
      string: "/Users/caplinked/caplinked/caplinked-api-ruby/spec/files/pg_0317.pdf"
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"950df5343c2eb78d193c3a4dae12def0"
    body:
      encoding: UTF-8
      string: '{"id":46514,"title":"api_update.pdf","file_name":"pg_0317.pdf","file_size":"68","file_content_type":"application/pdf","index":1,"created_at":"2016-11-23T21:51:57.304-08:00","updated_at":"2016-12-05T13:39:46.185-08:00"}'
  recorded_at: Mon, 05 Dec 2016 21:39:36 GMT
recorded_with: VCR 3.0.3
