---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"api+user+12@caplinked.com","first_name":"api","last_name":"user+12","time_zone":"Pacific
        Time (US & Canada)"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"fc4af47b7507c80a613bcc006956ad96"
    body:
      encoding: UTF-8
      string: '{"id":103,"first_name":"Api","last_name":"User+12","email":"api+user+12@caplinked.com","time_zone":"Pacific
        Time (US \u0026 Canada)","jti":""}'
  recorded_at: Mon, 05 Dec 2016 19:05:15 GMT
recorded_with: VCR 3.0.3
