---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"ccf34eeb1fd167b15412c9b0ae7a0d11"
    body:
      encoding: UTF-8
      string: '{"id":103,"first_name":"Api","last_name":"User+12","email":"api+user+12@caplinked.com","time_zone":"Pacific
        Time (US \u0026 Canada)","jti":null}'
  recorded_at: Mon, 05 Dec 2016 19:21:47 GMT
recorded_with: VCR 3.0.3
