---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/users/me
    body:
      encoding: UTF-8
      string: '{"user":{"email":"user+12@caplinked.com"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"852d4c9f146448cd56061e027422105e"
    body:
      encoding: UTF-8
      string: '{"id":103,"first_name":"Api","last_name":"User+12","email":"user+12@caplinked.com","time_zone":"Pacific
        Time (US \u0026 Canada)","jti":null}'
  recorded_at: Mon, 05 Dec 2016 19:24:49 GMT
recorded_with: VCR 3.0.3
