---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/teams
    body:
      encoding: UTF-8
      string: '{"team":{"name":"api_teamx7"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a612fafbe7b3376f256bcdb1b6d6014a"
    body:
      encoding: UTF-8
      string: '{"id":192,"name":"api_teamx7","team_owner_id":92,"creator_id":92,"allowed_workspaces":1,"allowed_admins":10,"drm_enabled":false,"watermarking":false,"suppress_emails":true}'
  recorded_at: Fri, 23 Dec 2016 01:59:50 GMT
recorded_with: VCR 3.0.3
