---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/teams/183
    body:
      encoding: UTF-8
      string: '{"team":{"name":"api_team_x5"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"13bcf2c3e652f54efc2f9ced88a031ca"
    body:
      encoding: UTF-8
      string: '{"id":183,"name":"api_team_x5","team_owner_id":92,"creator_id":92,"allowed_workspaces":1,"allowed_admins":10,"drm_enabled":false,"watermarking":false,"suppress_emails":true}'
  recorded_at: Fri, 23 Dec 2016 01:55:54 GMT
recorded_with: VCR 3.0.3
