---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/files/upload?file_name=pg_0317.pdf&folder_id=32277&workspace_id=5886
    body:
      encoding: US-ASCII
      string: "/Users/jazz/caplinked/caplinked-api-ruby/spec/core/files/pg_0317.pdf"
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"87f29be86ff8005f35274c899f025ab6"
    body:
      encoding: UTF-8
      string: '{"id":46578,"title":"api_update.pdf","file_name":"pg_0317.pdf","file_size":"68","file_content_type":"application/pdf","index":1,"created_at":"2016-11-23T21:51:57.304-08:00","updated_at":"2016-12-22T18:08:01.601-08:00"}'
  recorded_at: Fri, 23 Dec 2016 02:07:37 GMT
recorded_with: VCR 3.0.3
