---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/activities/workspace/5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"dad14174b5be825398b2db57e765ba07"
    body:
      encoding: UTF-8
      string: '{"pagination":{"total_items":61,"total_pages":1,"page":1,"per_page":100},"events":[{"id":310438,"user_id":2,"user_name":"Jazz
        Garcha","workspace_id":5886,"verb":"viewed","message":"viewed this workspace","subject_type":"Workspace","subject_id":5886,"created_at":"2016-11-30T00:46:20.472Z"},{"id":309264,"user_id":2,"user_name":"Jazz
        Garcha","workspace_id":5886,"verb":"moved","message":"moved the file \"api_update.pdf\"
        from \"New folder\" into the folder \"New folder\"","subject_type":"Asset","subject_id":45907,"created_at":"2016-11-24T06:23:47.190Z"},{"id":309263,"user_id":2,"user_name":"Jazz
        Garcha","workspace_id":5886,"verb":"created","message":"added the folder:
        New folder","subject_type":"Folder","subject_id":36885,"c[...]
