---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/activities/workspace/5886?user_id=99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"ed00c74e1d993a30ce03df2ee6941124"
    body:
      encoding: UTF-8
      string: '{"pagination":{"total_items":9,"total_pages":1,"page":1,"per_page":100},"events":[{"id":280863,"user_id":99,"user_name":"Jazz
        Admin","workspace_id":5886,"verb":"created","message":"added the update: test","subject_type":"Update","subject_id":2,"created_at":"2016-11-15T17:59:32.800Z"},{"id":280857,"user_id":99,"user_name":"Jazz
        Admin","workspace_id":5886,"verb":"edited","message":"published this workspace","subject_type":"Workspace","subject_id":5886,"created_at":"2016-11-15T17:57:43.421Z"},{"id":280858,"user_id":99,"user_name":"Jazz
        Admin","workspace_id":5886,"verb":"created","message":"added the folder: Folder
        2","subject_type":"Folder","subject_id":32339,"created_at":"2016-11-15T17:57:51.224Z"},{"id":280862,"user_id":99,"[...]
