---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/workspaces
    body:
      encoding: UTF-8
      string: '{"team_id":183,"workspace":{"name":"api_workspacex3"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"6336909040de82864cb89a7d340a3bd2"
    body:
      encoding: UTF-8
      string: '{"id":5933,"name":"api_workspacex3","team_id":183,"created_at":"2016-12-05T11:32:54.180-08:00","updated_at":"2016-12-05T11:32:54.274-08:00"}'
  recorded_at: Mon, 05 Dec 2016 19:33:06 GMT
recorded_with: VCR 3.0.3
