---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/workspaces/5933
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"207b01028811a83c02e29ef79499070e"
    body:
      encoding: UTF-8
      string: '{"id":5933,"name":"api_workspacex3","team_id":183,"created_at":"2016-12-05T11:32:54.180-08:00","updated_at":"2016-12-05T11:32:54.426-08:00"}'
  recorded_at: Mon, 05 Dec 2016 19:37:49 GMT
recorded_with: VCR 3.0.3
