---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/workspaces/5933
    body:
      encoding: UTF-8
      string: '{"workspace":{"name":"api_workspacex3_update"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"d72fdf91cf576c2ff608a95a5d4b5ecd"
    body:
      encoding: UTF-8
      string: '{"id":5933,"name":"api_workspacex3_update","team_id":183,"created_at":"2016-12-05T11:32:54.180-08:00","updated_at":"2016-12-05T11:40:18.365-08:00"}'
  recorded_at: Mon, 05 Dec 2016 19:40:08 GMT
recorded_with: VCR 3.0.3
