---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/permissions/folders/32339?group_id=26403&workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"229852292bb6b2fcd9629a3108752bbe"
    body:
      encoding: UTF-8
      string: '[{"id":"36885","id_tree":"0.32339.36885","name":"New folder","view":true,"download":true,"upload":false,"position":"1","index":"1.1","is_mixed_view":false,"is_mixed_download":false,"is_mixed_upload":false}]'
  recorded_at: Mon, 05 Dec 2016 17:13:16 GMT
recorded_with: VCR 3.0.3
