---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/permissions/folders/32339
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"group_id":26403,"verb":"revoke","folder_action":"download"}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"7422d74ef177e8bb4768223ed06bb3d4"
    body:
      encoding: UTF-8
      string: '{"created_at":"2016-12-05T09:18:37.820-08:00","updated_at":"2016-12-05T09:18:37.820-08:00","message":"revoked
        download access to spec update for group: new_group"}'
  recorded_at: Mon, 05 Dec 2016 17:18:29 GMT
recorded_with: VCR 3.0.3
