---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/groups/26403/memberships
    body:
      encoding: UTF-8
      string: '{"user_id":101,"workspace_id":5886,"send_email":false}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"fd6ae3a519c5c3393b9b7f3731b1f0fc"
    body:
      encoding: UTF-8
      string: '{"id":36646,"group_id":26403,"user_id":101}'
  recorded_at: Mon, 05 Dec 2016 21:30:10 GMT
recorded_with: VCR 3.0.3
