---
http_interactions:
- request:
    method: post
    uri: https://sandbox.caplinked.com/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"group":{"name":"api_group","workspace_id":5886,"file_managing_abilities":false}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"66238b9c9fba0255c5dbf1a9dcac0d5a"
    body:
      encoding: UTF-8
      string: '{"id":26407,"name":"api_group","workspace_id":5886,"drm_enabled":false,"drm_expires_after":null,"expire_workspace_access":false,"expire_workspace_access_at":null,"watermarked":false,"file_managing_abilities":false}'
  recorded_at: Mon, 05 Dec 2016 19:54:50 GMT
recorded_with: VCR 3.0.3
