---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/groups/26403/enable_expire_access
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"group":{"expire_workspace_access_at":"2017-03-03"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"c455285756b776bb362ac5938af29036"
    body:
      encoding: UTF-8
      string: '{"id":26403,"name":"new_group","workspace_id":5886,"drm_enabled":true,"drm_expires_after":null,"expire_workspace_access":true,"expire_workspace_access_at":"2017-03-03","watermarked":true,"file_managing_abilities":false}'
  recorded_at: Mon, 05 Dec 2016 21:16:09 GMT
recorded_with: VCR 3.0.3
