---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/groups/26403/memberships?workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"0d27e6113a62feb614ee9f15eba1da8c"
    body:
      encoding: UTF-8
      string: '[{"id":3,"first_name":"Brandon","last_name":"Brown","email":"bbrown@caplinked.com","time_zone":"Pacific
        Time (US \u0026 Canada)","jti":null}]'
  recorded_at: Mon, 05 Dec 2016 21:32:27 GMT
recorded_with: VCR 3.0.3
