---
http_interactions:
- request:
    method: get
    uri: https://sandbox.caplinked.com/api/v1/groups?workspace_id=5886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"79fba8364d0e245ac28696a20302110e"
    body:
      encoding: UTF-8
      string: '[{"id":26403,"name":"new_group","workspace_id":5886,"drm_enabled":false,"drm_expires_after":null,"expire_workspace_access":false,"expire_workspace_access_at":null,"watermarked":false,"file_managing_abilities":null},{"id":26125,"name":"Workspace
        Admins","workspace_id":5886,"drm_enabled":false,"drm_expires_after":null,"expire_workspace_access":false,"expire_workspace_access_at":null,"watermarked":false,"file_managing_abilities":null},{"id":26124,"name":"Team
        Admins","workspace_id":5886,"drm_enabled":false,"drm_expires_after":null,"expire_workspace_access":false,"expire_workspace_access_at":null,"watermarked":false,"file_managing_abilities":null},{"id":26123,"name":"All
        Members","workspace_id":5886,"drm_enabled":false,"drm_expires_after":null,"expire_workspace_access":false,"expire_workspace_access_at":null,"watermarked":false,"file_managing_abilities":null}]'
  recorded_at: Mon, 05 Dec 2016 19:50:30 GMT
recorded_with: VCR 3.0.3
