---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/groups/26407
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"group":{"name":"api_group_updated","file_managing_abilities":true}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"486cf24c62407c2a0115faaf6359fc61"
    body:
      encoding: UTF-8
      string: '{"id":26407,"name":"api_group_updated","workspace_id":5886,"drm_enabled":false,"drm_expires_after":null,"expire_workspace_access":false,"expire_workspace_access_at":null,"watermarked":false,"file_managing_abilities":true}'
  recorded_at: Mon, 05 Dec 2016 20:05:13 GMT
recorded_with: VCR 3.0.3
