---
http_interactions:
- request:
    method: put
    uri: https://sandbox.caplinked.com/api/v1/groups/26403/drm
    body:
      encoding: UTF-8
      string: '{"workspace_id":5886,"group":{"drm_enabled":true,"drm_expires_after":"2017-03-03"}}'
    headers:
      Content-Type:
      - application/json
      X-Token:
      - "<ENCODED X-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"2bf41f6150feb4f78f9fb9ddaab6c17b"
    body:
      encoding: UTF-8
      string: '{"id":26403,"name":"new_group","workspace_id":5886,"drm_enabled":true,"drm_expires_after":"2017-03-03","expire_workspace_access":false,"expire_workspace_access_at":null,"watermarked":false,"file_managing_abilities":false}'
  recorded_at: Mon, 05 Dec 2016 20:44:08 GMT
recorded_with: VCR 3.0.3
